button:disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}
button:hover,
button:focus {
  box-shadow: none;
  outline: none !important;
}
.btn:focus {
  box-shadow: none;
}
.btn-danger {
  border-radius: 35px;
  padding: 10px 20px;
  background-color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
  color: white;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}
.btn-danger:hover {
  border-color: var(--secondaryColor);
  background-color: white;
  color: var(--secondaryColor);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  transition: all ease-in-out 0.4s;
}
.btn-create {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  font-size: 23px;
  background-color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
  color: var(--labelColor);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.02);
  transition: all ease-in-out 0.4s;
}
.btn-create:hover {
  border-color: var(--secondaryColor);
  background-color: #ffffff;
  color: var(--secondaryColor);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  transition: all ease-in-out 0.4s;
  transform: translateY(-2px);
}
.btn-create i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-link {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  text-decoration: none;
  background-color: var(--white);
  cursor: pointer;
  transition: all 0.4s ease;
  border: 2px solid var(--secondaryColor);
  color: var(--secondaryColor) !important;
}
.btn-transparent {
  padding: 0 5px;
  background-color: transparent;
  position: relative;
  text-align: center;
  transition: all ease-in-out 0.3s;
  border-radius: 6px !important;
}
.btn-transparent i {
  font-size: 16px;
}
.btn-transparent:hover {
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  transform: translateY(-1px);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.btn-secondary {
  border-radius: 35px;
  padding: 10px 20px;
  background-color: #6c757d;
  border: 2px solid #6c757d;
  color: var(--white);
  transition: all ease-in-out 0.4s;
}
.btn-secondary:hover {
  border-color: #6c757d;
  background-color: #ffffff;
  color: #6c757d;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  transition: all ease-in-out 0.4s;
  transform: translateX(2px);
}
.btn-danger i,
.btn-secondary i {
  margin-right: 7px;
}

.btn-dark {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
  font-size: 13px;
  font-weight: 400;
  color: var(--white);
}
.btn-dark:hover {
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor);
}

/* app-footer css start  */
.app-footer .btn-danger i {
  margin-right: 0;
}
/* app-footer css end */

/* filter section css start  */
.addFilters .btn-create {
  width: 35px;
  height: 35px;
  font-size: 18px;
}
.filter-inner .btn-transparent {
  margin: 0;
  background-color: #28a745;
  padding: 5px 8px;
}
.filter-inner .btn-transparent i {
  color: white;
}
.filter-inner .btn-transparent.btn-cancel {
  background-color: #6c757d;
  min-width: 34px;
}
/* filter section css end  */

/* top app-footer css start  */
.topPagination .btn-transparent {
  background-color: var(--secondaryColor);
  border-radius: 50% !important;
  width: 30px;
  height: 30px;
  text-align: center;
}
.topPagination .btn-transparent i {
  color: white;
  font-size: 13px;
}
/* top app-footer css end  */
